@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0); 
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
}

.news, .bundles {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 15px; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

h4 {
    text-align: center;
    padding: 15px 0;
    margin: 0 0 20px 0;
    background-color: rgba(36, 36, 80, 0.85);
    color: white;
    border-radius: 10px; 
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s; 
}

a:hover {
    color: #0056b3;
    transform: scale(1.05); 
    text-decoration: underline;
}

.bundles-container img {
    width: 165px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
}

.bundles-container img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3); 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

iframe {
    border: none !important;
}


table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}


.bundles-container img {
    transition: transform .2s, filter .5s ease-in-out;
    filter: grayscale(0%);
}

.bundles-container img:hover {
    transform: scale(1.05);
    filter: grayscale(0%) brightness(120%);
}

.bg-dark-acrylic {
    /* Fondo oscuro con opacidad */
    background-color: rgba(55, 55, 55, 0.8);
    /* Filtro de desenfoque para efecto acrílico */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.news-card, .bundle-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
}

.news-card:hover, .bundle-card:hover {
    transform: translateY(-5px);
}

.text-gray-400 {
    color: rgba(255, 255, 255, 0.9); /* Texto más claro para contraste */
}

.text-blue-300:hover {
    color: #63b3ed; /* Hover efecto para enlaces */
}
